.radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.radio-button {
  margin-bottom: 1rem;
}

fieldset {
  margin-bottom: 5px;
}

.tooltip {
  padding-right: 1.5625rem;
  color: #673ab7;
  position: relative;
  display: inline-block;
}

.tooltip:hover {
  cursor: default;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 21.875rem;
  height: 0.94rem;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 90%;
  margin-left: -18.75rem;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 82%;
  margin-left: -0.31rem;
  border-width: 0.31rem;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.selected {
  opacity: 50%;
  border: 0.5px solid #673ab7;
  border-radius: 5px;
}