app-card {
  margin-top: 1rem;
}

.radio-group {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.radio-button {
  margin-bottom: 1rem;
}

fieldset {
  margin-bottom: 5px;
}

pre {
  word-wrap: break-word;
  white-space: pre-wrap;
  margin-bottom: -5px;
  font-family: Roboto, "Helvetica Neue"
}

.selected {
  opacity: 50%;
}