.mat-dialog-actions {
  display: block;
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;
}

.instructions {
  width: 30rem !important;
}

.description {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

h1 {
  margin: 0px;
}

a {
  text-decoration:none;
  margin-top: -2rem;
}
