<div class="title">
  <h1 mat-dialog-title>Instruções</h1>
</div>

<div class="instructions" mat-dialog-content>
  <a href="https://www.thymeleaf.org/" target="_blank">Documentação Thymeleaf</a>
  <div class="description">
    <h4>Hierarquia de objetos</h4>
    <ul>
      <li>internship
        <ul>
          <li>internshipType</li>
          <li>status</li>
          <li>advisorRequest
            <ul>
              <ul>
                <li>createdAt</li>
                <li>expiresAt</li>
                <li>internshipType</li>
                <li>details</li>
                <li>status</li>
                <li>
                  <strong>student</strong>
                  <ul>
                    <li>
                      <strong>user</strong>
                      <ul>
                        <li>registration</li>
                        <li>name</li>
                        <li>email</li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li>advisor
                  <ul>
                    <li>
                      <strong>user</strong>
                      <ul>
                        <li>registration</li>
                        <li>name</li>
                        <li>email</li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <ul>
                  <li>courses
                    <ul>
                      <li>name</li>
                      <li>abbreviation</li>
                      <li>numberOfPeriods</li>
                      <li>status</li>
                      <li>
                        <strong>department</strong>
                        <ul>
                          <li>name</li>
                          <li>abbreviation</li>
                          <li>
                            <strong>campus</strong>
                            <ul>
                              <li>name</li>
                              <li>abbreviation</li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                </ul>
                <li>curriculum
                  <ul>
                    <li>code</li>
                    <li>courseLoad</li>
                    <li>internshipCourseLoad</li>
                    <li>internshipStartCriteria</li>
                    <li>internshipAllowedActivities</li>
                    <li>status</li>
                    <li>
                      <strong>course</strong>
                      <ul>
                        <li>name</li>
                        <li>abbreviation</li>
                        <li>numberOfPeriods</li>
                        <li>status</li>
                        <li>
                          <strong>department</strong>
                          <ul>
                            <li>name</li>
                            <li>abbreviation</li>
                            <li>
                              <strong>campus</strong>
                              <ul>
                                <li>name</li>
                                <li>abbreviation</li>
                              </ul>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </ul>
          </li>
        </ul>
        <ul>
          <li>activityPlans
            <ul>
              <li>companyName</li>
              <li>internshipStartDate</li>
              <li>internshipEndDate</li>
              <li>createdAt</li>
              <li>expiresAt</li>
              <li>activityPlanUrl</li>
              <li>status</li>
              <li>details</li>
            </ul>
          </li>
          <li>monthlyReports
            <ul>
              <li>month</li>
              <li>draftSubmittedOnDeadline</li>
              <li>finalAcceptationDate</li>
              <li>startDate</li>
              <li>endDate</li>
              <li>attachmentUrl</li>
              <li>numberOfApprovedHours</li>
              <li>finalMonthlyReportUrl</li>
              <li>status</li>
              <li>
                <strong>activityPlan</strong>
                <ul>
                  <li>companyName</li>
                  <li>internshipStartDate</li>
                  <li>internshipEndDate</li>
                  <li>createdAt</li>
                  <li>expiresAt</li>
                  <li>activityPlanUrl</li>
                  <li>status</li>
                  <li>details</li>
                </ul>
              </li>
              <li>
                <strong>draftMonthlyReportSubmissions</strong>
                <ul>
                  <li>submissionDate</li>
                  <li>reportStartDate</li>
                  <li>reportEndDate</li>
                  <li>draftMonthlyReportUrl</li>
                  <li>status</li>
                  <li>details</li>
                  <li>numberOfApprovedHours</li>
                  <li>monthlyReportId</li>
                </ul>
              </li>
              <li>
                <strong>finalMonthlyReportSubmissions</strong>
                <ul>
                  <li>submissionDate</li>
                  <li>finalMonthlyReportUrl</li>
                  <li>status</li>
                  <li>details</li>
                  <li>monthlyReportId</li>
                </ul>
              </li>
            </ul>
          </li>
          <li>realizationTerms
            <ul>
              <li>createdAt</li>
              <li>internshipStartDate</li>
              <li>internshipEndDate</li>
              <li>realizationTermUrl</li>
              <li>status</li>
              <li>details</li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
    <p><strong>Exemplo:</strong> $&#123;internship.advisorRequest.student.user.name&#125;</p>
  </div>
</div>
<div mat-dialog-actions>
  <button color="primary" mat-flat-button mat-dialog-close>Fechar</button>
</div>

