<div class="title">
  <h1 mat-dialog-title>Instruções</h1>
</div>

<div class="instructions" mat-dialog-actions>
  <ul>
    <li>$STUDENTNAME - Nome do Estudante</li>
    <li>$REGISTRATION - Matrícula do Estudante</li>
    <li>$COURSENAME - Nome do Curso</li>
    <li>$INTERNSHIPTYPE - Tipo de Estágio</li>
    <li>$COMPANYNAME - Nome da Razão Social</li>
    <li>$INTERNSHIPSTARTDATE - Data de Início de Estágio</li>
    <li>$INTERNSHIPENDDATE - Data de Término de Estágio</li>
    <li>$REQUIRED - Condição de Estágio Obrigatório</li>
    <li>$NOTREQUIRED- Condição de Estágio Não Obrigatório</li>
    <li>$COURSENAME - Nome do Curso</li>
    <li>$TODAY - Dia Atual</li>
    <li>$MONTH - Mês Atual</li>
    <li>$YEAR - Ano Atual</li>
    <li>$ADVISORCOURSES - Cursos orientados pelo Orientador</li>
    <li>$ADVISORNAME - Nome do Orientador</li>
    <li>$ADVISOREMAIL - E-mail do Orientador</li>
    <li>$MONTHLYREPORTSTARTDATE - Data Inicial Relatório mensal</li>
    <li>$MONTHLYREPORTENDDATE - Data Final Relatório mensal</li>
    <li>$VALIDATEDHOURS - Horas de Estágio Validadas</li>
    <li>$TERMOFACCOMPLISHMENTSTARTDATE - Data Inicial do Termo de Realização</li>
    <li>$TERMOFACCOMPLISHMENTENDDATE - Data Final de Termo de Realização</li>
    <li>$TOTALAMOUNTOFHOURS - Total de Horas</li>
  </ul>
</div>
<button color="primary" mat-flat-button mat-dialog-close>Fechar</button>
