.form-field-lg {
  width: 100%;
}

.mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
}

app-card {
  margin-left: 0.3rem;
  margin-top: 0.8rem;
}

@media screen and (max-width: 1024px) {
  app-card {
    flex: 0 0 97%;
    margin-bottom: 25px;
  }
}