.feature-main-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0.5rem;
}

@media only screen and (min-width: 700px) {
  .feature-main-content {
    padding: 1rem;
  }
}
