<mat-card>
  <mat-card-content>
    <div class="header">
      <p>Cadastro</p>
    </div>
    <form (ngSubmit)="onRegister()" name="registrationForm" [formGroup]="form" class="app-form">

      <fieldset>
        <legend>Informações Pessoais:</legend>
        <div class="nameInput">
          <mat-form-field class="form primary" appearance="outline">
            <mat-label>Nome</mat-label>
            <input
              formControlName="name"
              name="name"
              matInput
              placeholder="Nome"
              autocomplete="off"
            />
            <mat-error *ngIf="fieldErrors('name')?.required">Nome é obrigatório</mat-error>
            <mat-error *ngIf="fieldErrors('name')?.notblank">Nome não pode ser vazio</mat-error>
            <mat-error *ngIf="fieldErrors('name')?.alpha">Nome deve conter apenas letras</mat-error>
            <mat-error *ngIf="fieldErrors('name')?.serverError && submitted">
              {{ fieldErrors('nome')?.serverError }}
            </mat-error>
          </mat-form-field>
        </div>

        <mat-form-field class="form primary" appearance="outline">
          <mat-label>E-mail</mat-label>
          <input
            formControlName="email"
            name="email"
            matInput
            placeholder="Endereço de e-mail"
            autocomplete="off"
          />
          <mat-error *ngIf="fieldErrors('email')?.required">E-mail é obrigatório</mat-error>
          <mat-error *ngIf="fieldErrors('email')?.email">E-mail deve ser válido</mat-error>
          <mat-error *ngIf="fieldErrors('email')?.notblank">E-mail não pode ser vazio</mat-error>
          <mat-error *ngIf="fieldErrors('email')?.institutionEmail">E-mail deve ser institucional</mat-error>
          <mat-error *ngIf="fieldErrors('email')?.serverError && submitted">
            {{ fieldErrors('email')?.serverError }}
          </mat-error>
        </mat-form-field>

        <mat-form-field class="form primary" appearance="outline">
          <mat-label>Matrícula</mat-label>
          <input
            formControlName="registration"
            name="registration"
            matInput
            placeholder="Número de Matrícula"
            autocomplete="off"
          />
          <mat-error *ngIf="fieldErrors('registration')?.required">Matrícula é obrigatória</mat-error>
          <mat-error *ngIf="fieldErrors('registration')?.notblank">Matrícula não pode ser vazia</mat-error>
          <mat-error *ngIf="fieldErrors('registration')?.exactlength">Matrícula deve ter 9 caracteres</mat-error>
          <mat-error *ngIf="fieldErrors('registration')?.startWithTwoAlphas">Matrícula deve iniciar com duas letras</mat-error>
          <mat-error *ngIf="fieldErrors('registration')?.serverError && submitted">
            {{ fieldErrors('registration')?.serverError }}
          </mat-error>
        </mat-form-field>

        <mat-form-field class="form primary" appearance="outline">
          <mat-label>Senha</mat-label>
          <input
            formControlName="password"
            name="password"
            matInput [type]=" hide ? 'text' : 'password' "
            placeholder="Senha"
          />
          <button type="button" mat-icon-button matSuffix color="primary" (click)="hide = !hide" [attr.aria-label]="'Hide Password'" [attr.aria-pressed]="hide">
            <mat-icon>
              {{hide ? 'visibility' : 'visibility_off' }}
            </mat-icon>
          </button>
          <mat-error *ngIf="fieldErrors('password')?.required">Senha é obrigatória</mat-error>
          <mat-error *ngIf="fieldErrors('password')?.notblank">Senha não pode ser vazia</mat-error>
          <mat-error *ngIf="fieldErrors('password')?.lowerCase">Senha deve conter no mínimo um caracter minúsculo</mat-error>
          <mat-error *ngIf="fieldErrors('password')?.upperCase">Senha deve conter no mínimo um caracter maiúsculo</mat-error>
          <mat-error *ngIf="fieldErrors('password')?.number">Senha deve conter no mínimo um número</mat-error>
          <mat-error *ngIf="fieldErrors('password')?.minlength">Senha deve conter no mínimo um 8 caracteres</mat-error>
          <mat-error *ngIf="fieldErrors('password')?.serverError && submitted">
            {{ fieldErrors('password')?.serverError }}
          </mat-error>
        </mat-form-field>
      </fieldset>

      <fieldset>
        <legend>Informações do Campus:</legend>
        <mat-form-field class="form primary" appearance="outline">
          <mat-label>Campus</mat-label>
          <input type="text"
                 matInput
                 placeholder="Selecione..."
                 formControlName="campus"
                 name="campus"
                 [matAutocomplete]="autoCampus"
                 #campus (keyup)="onCampusSelected(campus.value)">
          <mat-error *ngIf="fieldErrors('campus')?.autocomplete">Campus Inválido</mat-error>
          <mat-error *ngIf="fieldErrors('campus')?.required">Campus é obrigatório</mat-error>
          <mat-error *ngIf="fieldErrors('campus')?.notblank">Campus não pode ser vazio</mat-error>
          <mat-error *ngIf="fieldErrors('campus')?.serverError && submitted">
            {{ form.get('campus')?.errors?.serverError }}
          </mat-error>
          <mat-autocomplete autoActiveFirstOption #autoCampus="matAutocomplete" (optionSelected)='onCampusSelected($event.option.value)'>
            <mat-option *ngFor="let campus of campusFilteredOptions$ | async" [value]="campus.name">
              {{campus.name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field class="form primary" appearance="outline">
          <mat-label>Departamento</mat-label>
          <input type="text"
                 matInput
                 placeholder="Selecione..."
                 formControlName="department"
                 name="department"
                 [matAutocomplete]="autoDepartment"
                 #department (keyup)="onDepartmentSelected(department.value)">
          <mat-error *ngIf="fieldErrors('department')?.autocomplete">Departamento Inválido</mat-error>
          <mat-error *ngIf="fieldErrors('department')?.required">Departamento é obrigatório</mat-error>
          <mat-error *ngIf="fieldErrors('department')?.notblank">Departamento não pode ser vazio</mat-error>
          <mat-error *ngIf="fieldErrors('department')?.serverError && submitted">
            {{ form.get('department')?.errors?.serverError }}
          </mat-error>
          <mat-autocomplete autoActiveFirstOption #autoDepartment="matAutocomplete">
            <mat-option *ngFor="let department of departmentFilteredOptions$| async" [value]="department.name">
              {{department.name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field class="form primary" appearance="outline">
          <mat-label>Curso</mat-label>
          <input type="text"
                 matInput
                 placeholder="Selecione..."
                 formControlName="course"
                 name="course"
                 [matAutocomplete]="autoCourse"
                 #course (keyup)="onCourseSelected(course.value)">
          <mat-error *ngIf="fieldErrors('course')?.autocomplete">Curso Inválido</mat-error>
          <mat-error *ngIf="fieldErrors('course')?.required">Curso é obrigatório</mat-error>
          <mat-error *ngIf="fieldErrors('course')?.notblank">Curso não pode ser vazio</mat-error>
          <mat-error *ngIf="fieldErrors('course')?.serverError && submitted">
            {{ form.get('course')?.errors?.serverError }}
          </mat-error>
          <mat-autocomplete autoActiveFirstOption #autoCourse="matAutocomplete" (optionSelected)='onCourseSelected($event.option.value)'>
            <mat-option *ngFor="let course of courseFilteredOptions$ | async" [value]="course.name">
              {{course.name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field class="form primary" appearance="outline">
          <mat-label>Matriz</mat-label>
          <input type="text"
            matInput
            placeholder="Selecione..."
            formControlName="curriculum"
            name="curriculum"
            [matAutocomplete]="curriculumAuto"
            #curriculum
            (keyup)="onCurriculumSelected(curriculum.value)"
          >

          <div class="tooltip" mat-icon-button matSuffix><mat-icon>chelp_outline</mat-icon>
            <span class="tooltiptext">É possível encontrar sua matriz em seu perfil do SUAP.</span>
          </div>
          <mat-error *ngIf="fieldErrors('curriculum')?.autocomplete">Matriz Inválida</mat-error>
          <mat-error *ngIf="fieldErrors('curriculum')?.required">Matriz é obrigatória</mat-error>
          <mat-error *ngIf="fieldErrors('curriculum')?.notblank">Matriz não pode ser vazia</mat-error>
          <mat-error *ngIf="fieldErrors('curriculum')?.serverError && submitted">
            {{ form.get('curriculum')?.errors?.serverError }}
          </mat-error>
          <mat-autocomplete autoActiveFirstOption #curriculumAuto="matAutocomplete" (optionSelected)="onCurriculumSelected($event.option.value)">
            <mat-option *ngFor="let curriculum of curriculumFilteredOptions$ | async" [value]="curriculum.code">
              {{curriculum.code}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </fieldset>

      <mat-checkbox color="primary" name="checkbox" formControlName="checkbox">
        <p>
          Aceitar os Termos de Uso e Políticas de Privacidade
        </p>
      </mat-checkbox>
      <mat-error *ngIf="fieldErrors('checkbox')?.required && submitted">É necessário aceitar os Termos de Uso e Políticas de Privacidade</mat-error>

      <div class="button-login">
        <button mat-flat-button color="primary">Cadastrar</button>
      </div>

      <div class="button-row">
        <a mat-icon-button class="login" routerLink="/authentication/login">
          <mat-icon>chevron_left</mat-icon> Voltar para o Login
        </a>
      </div>
    </form>
    <a class="politics" (click)="openDialog()">Termos de Uso e Políticas de Privacidade</a>
  </mat-card-content>
</mat-card>
