.mat-card {
  max-width: 600px;
  margin: 1em auto;
  text-align: center;
  max-height: 56.75rem;
}

.mat-card.mat-card.mat-focus-indicator {
  margin-top: 2.25rem;
  margin-bottom: 6.25rem;
}

.header {
  text-align: center;
  font-size: clamp(1em, 4.5vw, 1.875em);
  color: #494949;
}

.header p {
  margin-top: 10px;
}

.full-width {
  width: 80%;
}

legend {
  text-align: left;
  margin-left: 3.25rem;
  margin-top: -2rem;
}

.button-row {
  padding-top: 20px;
  margin-right: 12px;
}

.button-row a {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.mat-flat-button.mat-primary {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.button-login {
  padding-top: 30px;
}

.aLink {
  float: right;
  padding-right: 60px;
  text-decoration: none;
  color: #673ab7;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #673ab7;
}

.form.primary {
  width: 425px;
}

.politics {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #673ab7;
  margin-top: 20px;
  padding-bottom: 20px;
}

input:focus,
select:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}

.app-form .mat-form-field {
  margin-bottom: -20px;
}

//tolltip
.tooltip {
  padding-right: 25px;
  color: #673ab7;
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 350px;
  height: 15px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 90%;
  margin-left: -300px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 82%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 800px) {
  .mat-card.mat-focus-indicator {
    border: none;
    box-shadow: none;
  }
}

@media (max-width: 493px) {
  .form.primary {
    width: 350px;
  }

  .form {
    width: 350px;
  }

  .app-form mat-form-field {
    margin-right: 0px;
  }
}

@media (max-width: 600px) {
  legend {
    margin-left: 0px;
  }
}
