.mat-card {
  max-width: 600px;
  margin: 1em auto;
  text-align: center;
  max-height: 43.75rem;
}

.mat-card.mat-card.mat-focus-indicator {
  margin-top: 2.25rem;
  margin-bottom: 6.25rem;
}

.header {
  text-align: center;
  font-size: clamp(1em, 4.5vw, 1.875em);
  color: #494949;
}

.header p {
  margin-top: 10px;
}

.full-width {
  width: 80%;
}

.button-row {
  padding-top: 20px;
  margin-right: 12px;
}

.button-row a {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.mat-flat-button.mat-primary {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.button-login {
  padding-top: 30px;
}

.aLink {
  float: right;
  padding-right: 60px;
  text-decoration: none;
  color: #673ab7;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #673ab7;
}

.politics {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #673ab7;
  margin-top: 20px;
}

input:focus,
select:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}

.help {
  padding-right: 25px;
  color: #673ab7;
}

@media (max-width: 800px) {
  .mat-card.mat-focus-indicator  {
    border: none;
    box-shadow: none;
  }
}

