<h1 id="header" mat-dialog-title>
  Rascunho de {{ data.monthlyReport.month | date:'MM/yyyy':'pt-BR' }}
  <button mat-button color="primary" (click)="closeDialog()">X</button>
</h1>
<div mat-dialog-content>
  <mat-list *ngIf="handleDraftWasAccepted()">
    <mat-list-item *ngIf="handleDraftWasAccepted()">
      <mat-icon mat-list-icon>folder</mat-icon>
      <h3 matLine class="line-title">Rascunho deferido</h3>
      <p matLine>{{ data.monthlyReport.draftSubmittedOnDeadline ? 'Enviado no prazo' : 'Não enviado no prazo' }}</p>
      <p matLine>Data de início: {{ data.monthlyReport.startDate | date:'dd/MM/yyyy' }}</p>
      <p matLine>Data de término: {{ data.monthlyReport.endDate | date:'dd/MM/yyyy' }}</p>
    </mat-list-item>
  </mat-list>
  <mat-tab-group dynamicHeight mat-align-tabs="start">
    <mat-tab label="Histórico">
      <app-content-cards entityName="rascunho de relatório mensal" [emptyState]="data.monthlyReport.draftMonthlyReportSubmissions.length == 0">
        <app-card
          *ngFor="let draft of data.monthlyReport.draftMonthlyReportSubmissions" 
          [title]="'Enviado em: ' + formatSubmissionDate(draft.submissionDate)" 
          [subtitle]="formatStartEndDate(draft.reportStartDate, draft.reportEndDate)"
          [break]="true"
          [complement]="handleStatus(draft.status)" 
          (click)="openDraftReport(draft)">
          <div card-actions *ngIf="handleCanAppraiseDraft(draft)">
            <button 
              mat-button color="warn" 
              (click)="handleAppraiseDraft($event, false, draft.id)"
            >
              Indeferir
            </button>
          </div>
          <div card-actions *ngIf="handleCanAppraiseDraft(draft)">
            <button 
              mat-button color="primary" 
              (click)="handleAppraiseDraft($event, true, draft.id)"
            >
              Deferir
            </button>
          </div>
        </app-card>
      </app-content-cards>
    </mat-tab>
  </mat-tab-group>
</div>
