<app-content *ngIf="!loading">
  <app-content-toolbar title="Estágios" [backUrl]="'/student/internship/'">
  </app-content-toolbar>
  <app-content-main>
    <mat-list *ngIf="handleInternshipIsInProgress()">
      <mat-list-item>
        <mat-icon mat-list-icon>folder</mat-icon>
        <h3 matLine class="line-title">Informações do estágio</h3>
        <p matLine>Razão social: {{ deferredActivityPlan!.companyName }}</p>
        <p matLine>Início do estágio: {{ internshipStartDate | date:'dd/MM/yyyy'}}</p>
        <p matLine>Término do estágio: {{ internshipEndDate | date:'dd/MM/yyyy' }}</p>
      </mat-list-item>
    </mat-list>
    <mat-tab-group [dynamicHeight]='true' [selectedIndex]="handleDefaultTab()" mat-align-tabs="start">
      <mat-tab label="Plano de Atividades" *ngIf="!loading">
        <app-content-form *ngIf="handleCanSendActivityPlan()">
          <form class="app-form" id="internship-form" [formGroup]="form" (ngSubmit)="onSubmit()">
            <fieldset>
              <legend *ngIf="!handleInternshipIsInProgress()">Envie seu plano de atividades</legend>
              <mat-form-field *ngIf="!handleInternshipIsInProgress()" class="form-field-lg">
                <mat-label>Razão Social</mat-label>
                <input type="text" appearance="fill" matInput placeholder="" formControlName="companyName" name="companyName" autocomplete="off">
                <mat-error *ngIf="fieldErrors('companyName')?.required">Razão Social é obrigatória</mat-error>
                <mat-error *ngIf="fieldErrors('companyName')?.notblank">Razão Social não pode ser vazia</mat-error>
                <mat-error *ngIf="fieldErrors('companyName')?.serverError && submitted">
                  {{ fieldErrors('companyName')?.serverError }}
                </mat-error>
              </mat-form-field>

              <br>

              <mat-form-field class="form-field-sm">
                <mat-label>Data de Início</mat-label>
                <input onkeydown="return false" matInput [matDatepicker]="picker" formControlName="internshipStartDate" name="internshipStartDate" (dateChange)="getLimitDate()">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="fieldErrors('internshipStartDate')?.required && submitted">Data de Início é obrigatória</mat-error>
                <mat-error *ngIf="fieldErrors('internshipStartDate')?.serverError && submitted">
                  {{ fieldErrors('internshipStartDate')?.serverError }}
                </mat-error>
              </mat-form-field>

              <mat-form-field class="form-field-sm">
                <mat-label>Data de Término</mat-label>
                <input onkeydown="return false" matInput [min]="minDate" [max]="maxDate" [matDatepicker]="pickerTwo" formControlName="internshipEndDate" name="internshipEndDate">
                <mat-datepicker-toggle matSuffix [for]="pickerTwo"></mat-datepicker-toggle>
                <mat-datepicker #pickerTwo></mat-datepicker>
                <mat-error *ngIf="fieldErrors('internshipEndDate')?.required && submitted">Data de Término é obrigatória</mat-error>
                <mat-error *ngIf="fieldErrors('internshipEndDate')?.serverError && submitted">
                  {{ fieldErrors('internshipEndDate')?.serverError }}
                </mat-error>
              </mat-form-field>
            </fieldset>

            <fieldset>
              <legend>Enviar plano de atividades: tamanho máximo ({{activityPlanFileSizeMegabytes}} MB)</legend>
              <br>
              <input id="buttonActivityPlan" type="file" accept=".pdf" formControlName="file" name="file" (change)="onFileSelected($event)">
              <span>{{ fileName }}</span>
              <label for="buttonActivityPlan" class="btn-send">Anexar Arquivo</label>
              <br>
              <br>
              <mat-error *ngIf="fieldErrors('file')?.required && submitted">Plano de atividades é obrigatório</mat-error>
              <mat-error *ngIf="fieldErrors('file')?.serverError && submitted">
                {{ fieldErrors('file')?.serverError }}
              </mat-error>
              <small>*Modelo Plano de Atividades <a href="{{activityPlanLink}}">(Clique aqui!)</a></small>
            </fieldset>

            <fieldset>
              <button type="submit" form="internship-form" mat-flat-button color="primary">
                <span>Enviar Plano</span>
              </button>
            </fieldset>
          </form>
        </app-content-form>
        <app-content-cards entityName="planos de atividade">
          <app-card
            *ngFor="let activityPlan of internship.activityPlans"
            [title]="'Empresa: ' + activityPlan.companyName"
            [subtitle]="formatDate(activityPlan.internshipStartDate, activityPlan.internshipEndDate)"
            [break]="true"
            [complement]="handleRequestStatus(activityPlan.status)"
            (click)="openActivityPlan(activityPlan)"
          >
          </app-card>
        </app-content-cards>
      </mat-tab>
      <mat-tab label="Relatórios Mensais" [disabled]="monthlyReports.length == 0">
        <table mat-table [dataSource]="monthlyReports" class="mat-elevation-z8">
          <ng-container matColumnDef="month">
            <th mat-header-cell *matHeaderCellDef>Mês</th>
            <td mat-cell *matCellDef="let report">{{ report.month | date: 'MM/yyyy' }}</td>
          </ng-container>
          <ng-container matColumnDef="draft">
            <th mat-header-cell *matHeaderCellDef>Rascunho do Relatório</th>
            <td mat-cell *matCellDef="let report"> 
              <button 
                mat-button color="primary"
                [disabled]="handleCantSendDraft(report.month)"
                (click)="openDraftDialog(report)"
              >
                {{ handleDraftReportStatus(report) }}
              </button>
            </td>
          </ng-container>
          <ng-container matColumnDef="report">
            <th mat-header-cell *matHeaderCellDef>Relatório Mensal</th>
            <td mat-cell *matCellDef="let report">
              <button 
                mat-button color="primary" 
                [disabled]="handleCantSendReport(report)"
                (click)="openFinalDialog(report)"
              >
                {{ handleReportStatus(report) }}
              </button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </mat-tab>
      <mat-tab label="Termo de Realização">
        <p *ngIf="!handleCanSendRealizationTerm() && internship.realizationTerms.length == 0" class="cant-send">
          Não é possível enviar o termo de realização neste momento. Todos os relatórios mensais até o mês atual devem ser aceitos.
        </p>
        <app-content-form *ngIf="handleCanSendRealizationTerm()">
          <form class="app-form" id="internship-form" [formGroup]="formRealizationTerm" (ngSubmit)="onSubmitRealizationTerm()">
            <fieldset>
              <legend>Envie seu termo de realização</legend>
              <mat-form-field class="form-field-sm">
                <mat-label>Primeiro dia de estágio</mat-label>
                <input onkeydown="return false" matInput [matDatepicker]="picker" formControlName="internshipStartDate" name="internshipStartDate" (dateChange)="getLimitDate()">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="fieldErrors('internshipStartDate')?.required && submitted">Primeiro dia de estágio é obrigatório</mat-error>
                <mat-error *ngIf="fieldErrors('internshipStartDate')?.serverError && submitted">
                  {{ fieldErrors('internshipStartDate')?.serverError }}
                </mat-error>
              </mat-form-field>
              <mat-form-field class="form-field-sm">
                <mat-label>Último dia de estágio</mat-label>
                <input onkeydown="return false" matInput [matDatepicker]="pickerTwo" formControlName="internshipEndDate" name="internshipEndDate">
                <mat-datepicker-toggle matSuffix [for]="pickerTwo"></mat-datepicker-toggle>
                <mat-datepicker #pickerTwo></mat-datepicker>
                <mat-error *ngIf="fieldErrors('internshipEndDate')?.required && submitted">Último dia de estágio é obrigatório</mat-error>
                <mat-error *ngIf="fieldErrors('internshipEndDate')?.serverError && submitted">
                  {{ fieldErrors('internshipEndDate')?.serverError }}
                </mat-error>
              </mat-form-field>
            </fieldset>
            <fieldset>
              <legend>Enviar termo de realização: tamanho máximo ({{parameter.activityPlanFileSizeMegabytes}} MB)</legend>
              <br>
              <input id="buttonActivityPlan" type="file" accept=".pdf" formControlName="file" name="file" (change)="onFileSelected($event)">
              <span>{{ fileName }}</span>
              <label for="buttonActivityPlan" class="btn-send">Anexar Arquivo</label>
            </fieldset>
            <fieldset>
              <button type="submit" form="internship-form" mat-flat-button color="primary">
                <span>Enviar Termo</span>
              </button>
            </fieldset>
          </form>
        </app-content-form>
        <app-content-cards entityName="termo de realização">
          <app-card
            *ngFor="let realizationTerm of internship.realizationTerms"
            [title]="'Enviado em: ' + formatDateRealizationTerm(realizationTerm.createdAt)"
            [subtitle]="handleRequestStatus(realizationTerm.status)"
            (click)="openRealizationTerm(realizationTerm.realizationTermUrl)"
          >
          </app-card>
        </app-content-cards>
      </mat-tab>
    </mat-tab-group>
  </app-content-main>
</app-content>
