<app-content *ngIf="!loading">
  <app-content-toolbar title="Pedidos de Orientação">
    <button mat-icon-button color="primary" (click)="orderByName()">
      <mat-icon>sort_by_alpha</mat-icon>
    </button>
    <button mat-icon-button color="primary" (click)="openFilterDialog()">
      <mat-icon>filter_list</mat-icon>
    </button>
  </app-content-toolbar>
  <app-content-main>
    <app-content-cards entityName="pedido" [emptyState]="advisorRequestsShow.length == 0">
      <app-card 
        *ngFor="let request of advisorRequestsShow" 
        [title]="request.student.user.name" 
        [subtitle]="handleStatus(request.status)"
        [separator]="true"
        [complement]="request.expiresAt | date : 'd/M/yy, h:mm a' : 'en-US'"
        [link]="'/advisor/advisor-request/' + request.id"
      >
      </app-card>
    </app-content-cards>
  </app-content-main>
</app-content>