<mat-toolbar color="primary" *ngIf="!loading">
  <div class="toolbar">
    <div class="title">
      <button mat-icon-button class="menu-icon" aria-label="Menu icon" disableRipple (click)="toggleRightSidenav()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Gestão Estágios</span>
    </div>

    <div class="profile">
      <button class="name" mat-button [matMenuTriggerFor]="menu"><mat-icon class="account">account_circle</mat-icon>
        <p>{{ user.name }}</p>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item><mat-icon>settings</mat-icon>Minha Conta</button>
        <button mat-menu-item (click)="logout()"><mat-icon>logout</mat-icon>Sair</button>
      </mat-menu>
    </div>
  </div>
</mat-toolbar>
