.toolbar {
  display: flex;
  justify-content: space-between;
  width: 99%;
}

.menu-icon {
  margin-right: 0.75rem;
}

.example-spacer {
  flex: 1 1 auto;
}

.profile {
  display: inline-flex;
  align-items: center;
}

.account {
  margin-right: 1rem;
}

.name {
  display: ruby;
}

.name p {
  margin: 0;
  font-size: 17px;
}

@media screen and (max-width: 700px) {
  .name p {
    display: none;
  }

  .account {
    margin-right: 0;
  }
}
