<app-content>
  <app-content-toolbar title="Estágios" [backUrl]="getBackUrl()">
  </app-content-toolbar>
  <app-content-main>
    <app-content-form>
      <mat-tab-group [dynamicHeight]='true' mat-align-tabs="start">
        <mat-tab label="Plano de Atividades">
          <form class="app-form" id="internship-form" [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="button">
              <button mat-button color="warn">
                Recusar
              </button>
              <button mat-button color="primary">
                Aceitar
              </button>
            </div>
            <fieldset>
              <legend>Detalhes do plano de atividades</legend>
              <app-content-detail  [listItens]="internshipDetails()">
              </app-content-detail>
            </fieldset>
          </form>
        </mat-tab>

<!--        <mat-tab label="Relatórios Mensais">-->
<!--          <fieldset>-->
<!--              <legend>Links para modelos de documentação</legend>-->
<!--              <mat-form-field class="form-field-lg">-->
<!--                <mat-label>Link para o Plano de Atividades</mat-label>-->
<!--                <input appearance="fill" matInput placeholder="" formControlName="activityPlanLink" name="activityPlanLink" autocomplete="off">-->
<!--                <mat-error *ngIf="fieldErrors('activityPlanLink')?.required">Link para o Plano de Atividades é obrigatório</mat-error>-->
<!--                <mat-error *ngIf="fieldErrors('activityPlanLink')?.notblank">Link para o Plano de Atividades não pode ser vazio</mat-error>-->
<!--                <mat-error *ngIf="fieldErrors('activityPlanLink')?.serverError && submitted">-->
<!--                  {{ fieldErrors('activityPlanLink')?.serverError }}-->
<!--                </mat-error>-->
<!--              </mat-form-field>-->
<!--          </fieldset>-->
<!--        </mat-tab>-->

<!--        <mat-tab label="Relatório Final">-->
<!--          <fieldset>-->
<!--              <legend>Prazos em dias corridos para envio de pedidos</legend>-->
<!--              <mat-form-field class="form-field-sm">-->
<!--                <mat-label>Avalialiação do pedido de orientação de estágio</mat-label>-->
<!--                <input type="number" min="0" appearance="fill" matInput placeholder="" formControlName="advisorRequestDeadline" name="advisorRequestDeadline" onkeypress="return event.charCode >= 48 && event.charCode <= 57" autocomplete="off">-->
<!--                <mat-error *ngIf="fieldErrors('advisorRequestDeadline')?.required">Avaliação do pedido é obrigatório</mat-error>-->
<!--                <mat-error *ngIf="fieldErrors('advisorRequestDeadline')?.numeric">Avaliação do pedido deve conter apenas números</mat-error>-->
<!--                <mat-error *ngIf="fieldErrors('advisorRequestDeadline')?.serverError && submitted">-->
<!--                  {{ fieldErrors('advisorRequestDeadline')?.serverError }}-->
<!--                </mat-error>-->
<!--              </mat-form-field>-->
<!--          </fieldset>-->
<!--        </mat-tab>-->
      </mat-tab-group>
    </app-content-form>
  </app-content-main>
</app-content>
