<app-content *ngIf="!loading">
  <app-content-toolbar title="Estágios" [backUrl]="'/advisor/internship/'">
  </app-content-toolbar>
  <app-content-main>
    <app-content-detail
      *ngIf="!loading"
      [title]="internship.advisorRequest.student.user.name"
      [subtitle]="handleType(internship.internshipType)"
    >
    </app-content-detail>
    <mat-list *ngIf="handleInternshipIsInProgress()">
      <mat-list-item>
        <mat-icon mat-list-icon>folder</mat-icon>
        <h3 matLine class="line-title">Informações do estágio</h3>
        <p matLine>Razão social: {{ deferredActivityPlan!.companyName }}</p>
        <p matLine>Início do estágio: {{ internshipStartDate | date:'dd/MM/yyyy'}}</p>
        <p matLine>Término do estágio: {{ internshipEndDate | date:'dd/MM/yyyy' }}</p>
      </mat-list-item>
    </mat-list>
    <mat-tab-group [dynamicHeight]='true' [selectedIndex]="handleDefaultTab()" mat-align-tabs="start">
      <mat-tab label="Plano de Atividades">
        <app-content-cards entityName="planos de atividade">
          <app-card
            *ngFor="let activityPlan of internship.activityPlans"
            [title]="'Razão social: ' + activityPlan.companyName"
            [subtitle]="formatDate(activityPlan.internshipStartDate, activityPlan.internshipEndDate)"
            [break]="true"
            [complement]="handleActivityPlanStatus(activityPlan.status)"
            (click)="openActivityPlan(activityPlan)">
            <div card-actions>
              <button (click)="openDialog($event)" mat-flat-button color="primary">
                <span>Despacho Inicial</span>
              </button>
            </div>
            <div card-actions>
              <button *ngIf="handleCanAppraiseActivityPlan(activityPlan)" mat-button color="warn" (click)="handleAppraiseActivityPlan($event, false, activityPlan.id)">
                Indeferir
              </button>
            </div>
            <div card-actions>
              <button *ngIf="handleCanAppraiseActivityPlan(activityPlan)" mat-button color="primary" (click)="handleAppraiseActivityPlan($event, true, activityPlan.id)">
                Deferir
              </button>
            </div>
          </app-card>
        </app-content-cards>
      </mat-tab>
      <mat-tab label="Relatórios Mensais">
        <table *ngIf="monthlyReports.length != 0" mat-table [dataSource]="monthlyReports" class="mat-elevation-z8">
          <ng-container matColumnDef="month">
            <th mat-header-cell *matHeaderCellDef>Mês</th>
            <td mat-cell *matCellDef="let report">{{ report.month | date: 'MM/yyyy' }}</td>
          </ng-container>
          <ng-container matColumnDef="draft">
            <th mat-header-cell *matHeaderCellDef>Rascunho do Relatório</th>
            <td mat-cell *matCellDef="let report"> 
              <button 
                mat-button color="primary"
                (click)="openDraftDialog(report)"
                [disabled]="handleCantAppraiseDraft(report.month)"
              >
                {{ handleDraftReportStatus(report) }} 
              </button>
            </td>
          </ng-container>
          <ng-container matColumnDef="report">
            <th mat-header-cell *matHeaderCellDef>Relatório Mensal</th>
            <td mat-cell *matCellDef="let report">
              <button 
                mat-button color="primary"
                (click)="openFinalDialog(report)"
                [disabled]="handleCantAppraiseReport(report)"
              >
              {{ handleReportStatus(report) }}
              </button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </mat-tab>
      <mat-tab label="Termo de Realização">
        <app-content-cards entityName="planos de atividade">
          <app-card
            *ngFor="let realizationTerm of internship.realizationTerms"
            [title]="internship.advisorRequest.student.user.name"
            [subtitle]="'Enviado em: ' + formatDateRealizationTerm(realizationTerm.createdAt)"
            [break]="true"
            [complement]="handleActivityPlanStatus(realizationTerm.status)"
            (click)="openRealizationTerm(realizationTerm.realizationTermUrl)"
          >
          <div card-actions>
            <button *ngIf="realizationTerm.status.toString() === 'PENDING' ? true : false" mat-button color="warn" (click)="handleAppraiseRealizationTerm($event, false, realizationTerm.id)">
              Indeferir
            </button>
          </div>
          <div card-actions>
            <button *ngIf="realizationTerm.status.toString() === 'PENDING' ? true : false" mat-button color="primary" (click)="handleAppraiseRealizationTerm($event, true, realizationTerm.id)">
              Deferir
            </button>
          </div>
          </app-card>
        </app-content-cards>
      </mat-tab>
    </mat-tab-group>
  </app-content-main>
</app-content>
