app-card {
  margin-top: 1rem;
  margin-left: 0.4rem;
}

table {
  width: 100%;
}

.line-title {
  font-weight: 500 !important;
}

@media only screen and (max-width: 800px) {
  app-card {
    flex: 0 0 98%;
  }
}

@media screen and (max-width: 300px) {
  table {
    display: block;
    overflow-x: auto;
  }
}