<h1 id="header" mat-dialog-title>
  {{ data.deferred ? 'Deferir Rascunho' : 'Indeferir Rascunho' }}
  <button mat-button color="primary" mat-dialog-close>X</button>
</h1>
<div mat-dialog-content>
  <form *ngIf="!data.deferred" class="app-form" id="draft-appraisal-form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field class="form-field-lg">
      <mat-label>Motivo do indeferimento</mat-label>
      <textarea
        cdkTextareaAutosize
        #autosize="cdkTextareaAutosize"
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="10"
        appearance="fill"
        matInput
        placeholder=""
        formControlName="details"
        name="details">
      </textarea>
      <mat-error *ngIf="fieldErrors('details')?.required">Motivo do indeferimento é obrigatório</mat-error>
    </mat-form-field>
  </form>
  <form *ngIf="data.deferred" class="app-form" id="draft-appraisal-form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field class="form-field-lg">
      <mat-label>Detalhes</mat-label>
      <textarea
        cdkTextareaAutosize
        #autosize="cdkTextareaAutosize"
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="10"
        appearance="fill"
        matInput
        placeholder=""
        formControlName="details"
        name="details">
      </textarea>
      <mat-error *ngIf="fieldErrors('details')?.required">Detalhes é obrigatório</mat-error>
    </mat-form-field>
    <mat-form-field class="form-field-lg">
      <mat-label>Número de horas deferidas</mat-label>
      <input 
        type="number" 
        min="0" 
        appearance="fill" 
        matInput 
        placeholder="" 
        formControlName="numberOfApprovedHours" 
        name="numberOfApprovedHours" 
        onkeypress="return event.charCode >= 48 && event.charCode <= 57" 
        autocomplete="off"
      >
      <mat-error *ngIf="fieldErrors('numberOfApprovedHours')?.required">Numero de horas é obrigatório</mat-error>
      <mat-error *ngIf="fieldErrors('numberOfApprovedHours')?.numeric">Numero de horas deve conter apenas números</mat-error>
      <mat-error *ngIf="fieldErrors('numberOfApprovedHours')?.serverError && submitted">
        {{ fieldErrors('numberOfApprovedHours')?.serverError }}
      </mat-error>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancelar</button>
  <button type="submit" form="draft-appraisal-form" mat-button color="primary">Confirmar</button>
</div>

