
h1 {
  display: flex;
  justify-content: space-between;
}

.form-field-lg {
  width: 100%;
}

.mat-dialog-content {
  width: 35vw;
  height: 50%;
}

.mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 700px) {
  .mat-dialog-content {
    width: 65vw;
    height: 20vh;
  }
}