<app-content *ngIf="!loading">
  <app-content-toolbar title="Estágios">
  </app-content-toolbar>
  <app-content-main>
    <mat-tab-group [dynamicHeight]='true' mat-align-tabs="start">
      <mat-tab label="Aguardando Documentação">
        <app-content-cards entityName="estágio" [emptyState]="waitingDocsInternships.length == 0">
          <app-card
          *ngFor="let internship of waitingDocsInternships" 
          [title]="internship.advisorRequest.student.user.name" 
          [subtitle]="handleType(internship.internshipType)"
          [break]="true"
          [complement]="handleStatus(internship.status)"
          [link]="'/advisor/internship/' + internship.id">
          </app-card>
        </app-content-cards>
      </mat-tab>
      <mat-tab label="Em andamento">
        <app-content-cards entityName="estágio" [emptyState]="inProgressInternships.length == 0">
          <app-card
          *ngFor="let internship of inProgressInternships" 
          [title]="internship.advisorRequest.student.user.name + getInternshipCompanyName(internship)" 
          [subtitle]="handleType(internship.internshipType)"
          [break]="true"
          [complement]="handleStatus(internship.status)"
          [link]="'/advisor/internship/' + internship.id">
          </app-card>
        </app-content-cards>
      </mat-tab>
      <mat-tab label="Finalizados">
      </mat-tab>
    </mat-tab-group>
  </app-content-main>
</app-content>
