<app-content *ngIf="internships$ | async as internships">
  <app-content-toolbar title="Estágios">
  </app-content-toolbar>
  <app-content-main>
    <app-content-cards entityName="estágio" [emptyState]="internships.length == 0">
      <app-card
      *ngFor="let internship of internships" 
      [title]="internship.advisorRequest.advisor.user.name + getInternshipCompanyName(internship)" 
      [subtitle]="handleType(internship.internshipType)"
      [break]="true"
      [complement]="handleStatus(internship.status)"  
      [link]="'/student/internship/' + internship.id">
      </app-card>
    </app-content-cards>
  </app-content-main>
</app-content>
