<app-content *ngIf="advisors$ | async as advisors">
  <app-content-toolbar title="Orientadores">
    <button mat-icon-button color="primary">
      <mat-icon>filter_list</mat-icon>
    </button>
    <button mat-button color="primary" routerLink="/admin/advisor/create">
      Novo Orientador
    </button>
  </app-content-toolbar>
  <app-content-main>
    <app-content-cards entityName="advisor" [emptyState]="advisors.length == 0">
      <app-card 
        *ngFor="let advisor of advisors" 
        [title]="advisor.user.name" 
        [subtitle]="advisor.user.registration"
        [link]="'/admin/advisor/' + advisor.id">
        <div card-actions></div>
        <div card-actions>
          <mat-slide-toggle 
            color="primary"
            [checked]="handleEnabled(advisor)"
            (click)="toggleAdvisor($event, advisor)"></mat-slide-toggle>
        </div>
      </app-card>
    </app-content-cards>
  </app-content-main>
</app-content>