<mat-card>
  <mat-card-content>
    <div class="header">
      <p>Mudança de Senha </p>
    </div>

    <div class="infos">
      <div class="icon">
        <mat-icon class="atention">error_outline</mat-icon>
      </div>
      <div class="list">
        <ul><span>Atenção:</span> A senha deve obedecer às seguintes regras:
          <li>
            Ter pelo menos 8 caracteres de comprimento;
          </li>
          <li>
            Não conter os caracteres "aspas" ou "espaço";
          </li>
          <li>
            Caracteres maiúsculos (A-Z)
          </li>
          <li>
            Caracteres minúsculos (a-z)
          </li>
          <li>
            Números (0-9)
          </li>
          <li>
            Símbolos (por exemplo, !, $, #, %)
          </li>
        </ul>
      </div>
    </div>

    <form (ngSubmit)="onSubmit()" name="forgotPasswordForm" [formGroup]="form" class="app-form">
      <mat-form-field class="form primary" appearance="outline">
        <mat-label>Senha</mat-label>
        <input
          formControlName="password"
          name="password"
          matInput [type]=" hide ? 'text' : 'password' "
          placeholder="Senha"
        />
        <button type="button" mat-icon-button matSuffix color="primary" (click)="hide = !hide" [attr.aria-label]="'Hide Password'" [attr.aria-pressed]="hide">
          <mat-icon>
            {{hide ? 'visibility' : 'visibility_off' }}
          </mat-icon>
        </button>
        <mat-error *ngIf="fieldErrors('password')?.required">Senha é obrigatória</mat-error>
        <mat-error *ngIf="fieldErrors('password')?.notblank">Senha não pode ser vazia</mat-error>
        <mat-error *ngIf="fieldErrors('password')?.lowerCase">Senha deve conter no mínimo um caracter minúsculo</mat-error>
        <mat-error *ngIf="fieldErrors('password')?.upperCase">Senha deve conter no mínimo um caracter maiúsculo</mat-error>
        <mat-error *ngIf="fieldErrors('password')?.number">Senha deve conter no mínimo um número</mat-error>
        <!-- <mat-error *ngIf="fieldErrors('password')?.special">Senha deve conter no mínimo um caracter especial</mat-error> -->
        <mat-error *ngIf="fieldErrors('password')?.minlength">Senha deve conter no mínimo um 8 caracteres</mat-error>
        <mat-error *ngIf="fieldErrors('password')?.serverError && submitted">
          {{ fieldErrors('password')?.serverError }}
        </mat-error>
      </mat-form-field>

      <div class="button-send">
        <button mat-flat-button color="primary">Enviar</button>
      </div>
    </form>

  </mat-card-content>
</mat-card>

