.mat-card {
  max-width: 37.5rem;
  margin: 2em auto;
  text-align: center;
  max-height: 37.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mat-card.mat-card.mat-focus-indicator {
  margin-top: 9%;
}

.header {
  text-align: center;
  font-size: clamp(1em, 4.5vw, 1.875em);
  color: #494949;
}

.header p {
  margin-top: 0.625rem;
}

.infos {
  display: inline-flex;
  margin-top: 1.25rem;
  padding-bottom: 0.31rem;
  background-color: #f6f3ff;
  padding-right: 2.5rem;
  text-align: justify;
  border-radius: 3px;
}

.infos span {
  font-weight: 500;
}

.infos li {
  margin-left: 1.25rem;
}

.icon {
  margin-top: 0.625rem;
  margin-left: 0.625rem;
}

ul {
  padding-left: 0.625rem;
}

.full-width {
  width: 80%;
}

.button-row {
  margin-right: 0.875rem;
}

.button-row a {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
}

.mat-flat-button.mat-primary {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.button-send {
  padding: 1.25rem;
}

.app-form {
  padding: 0;
}

.mat-form-field-appearance-outline,
.mat-form-field-flex {
  width: 25.625rem;
  margin-left: 1.25rem;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #673ab7;
}

@media (max-width: 800px) {
  .mat-card.mat-focus-indicator {
    border: none;
    box-shadow: none;
  }
}
