<app-content *ngIf="courses$ | async as courses">
    <app-content-toolbar title="Cursos">
        <button mat-icon-button color="primary" (click)="openDialog()">
            <mat-icon>filter_list</mat-icon>
          </button>
        <button mat-button color="primary" routerLink="/admin/course/create">
            Novo Curso
        </button>
    </app-content-toolbar>
    <app-content-main>
        <app-content-cards entityName="curso" [emptyState]="courses.length == 0">
            <app-card *ngFor="let course of courses" [title]="course.name" [subtitle]="course.abbreviation"
                [link]="'/admin/course/' + course.id">
                <div card-actions></div>
                <div card-actions>
                    <mat-slide-toggle 
                        color="primary" 
                        [checked]="handleEnabled(course)" 
                        (click)="toggleCourse($event, course)">
                    </mat-slide-toggle>
                </div>
            </app-card>
        </app-content-cards>
    </app-content-main>
</app-content>