<mat-card>
  <mat-card-content>
    <div class="header">
      <p>Solicitação de Mudança de Senha </p>
    </div>
    <form (ngSubmit)="onPassword()" name="forgotPasswordForm" [formGroup]="form" class="app-form">
      <div class="matriculationInput">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Matrícula</mat-label>
          <input
            formControlName="matriculation"
            name="matriculation"
            matInput
            placeholder="Matrícula"
            autocomplete="off"
          />
          <mat-error *ngIf="fieldErrors('matriculation')?.required">Matricula é obrigatória</mat-error>
          <mat-error *ngIf="fieldErrors('matriculation')?.notblank">Matrícula não pode ser vazia</mat-error>
          <mat-error *ngIf="fieldErrors('abbreviation')?.exactlength">Matrícula deve ter 9 caracteres</mat-error>
          <!--<mat-error *ngIf="fieldErrors('matriculation')?.required">Matrícula incorreta</mat-error>-->
          <mat-error *ngIf="fieldErrors('matriculation')?.serverError && submitted">
            {{ fieldErrors('matriculation')?.serverError }}
          </mat-error>
        </mat-form-field>
      </div>

      <div class="button-send">
        <button mat-flat-button color="primary">Enviar</button>
      </div>

      <div class="button-row">
        <a mat-icon-button class="login" routerLink="/authentication/login">
          <mat-icon>chevron_left</mat-icon> Voltar para o Login
        </a>
      </div>
    </form>

  </mat-card-content>
</mat-card>
