<mat-card>
  <mat-card-content>
    <div class="header">
      <p>Solicitação de Mudança de Senha </p>
    </div>
    <form (ngSubmit)="onSubmit()" name="forgotPasswordForm" [formGroup]="form" class="app-form">
      <div class="registrationInput">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Matrícula</mat-label>
          <input
            formControlName="registration"
            name="registration"
            matInput
            placeholder="Matrícula"
            autocomplete="off"
          />
          <mat-error *ngIf="fieldErrors('registration')?.required">Matricula é obrigatória</mat-error>
          <mat-error *ngIf="fieldErrors('registration')?.notblank">Matrícula não pode ser vazia</mat-error>
          <mat-error *ngIf="fieldErrors('registration')?.minlength">Matrícula deve ter no mínimo 8 caracteres</mat-error>
          <mat-error *ngIf="fieldErrors('registration')?.maxlength">Matrícula deve ter no máximo 9 caracteres</mat-error>
          <mat-error *ngIf="fieldErrors('registration')?.serverError && submitted">
            {{ fieldErrors('registration')?.serverError }}
          </mat-error>
        </mat-form-field>
      </div>

      <div class="button-send">
        <button mat-flat-button color="primary">Enviar</button>
      </div>

      <div class="button-row">
        <a mat-icon-button class="login" routerLink="/authentication/login">
          <mat-icon>chevron_left</mat-icon> Voltar para o Login
        </a>
      </div>
    </form>

  </mat-card-content>
</mat-card>
