.mat-focus-indicator.confirm.mat-flat-button.mat-button-base.mat-primary {
  margin: auto;
  display: flex;
  margin-top: 10px;
}

.header {
  margin-bottom: 20px;
}

@media only screen and (min-width: 800px) {
  .container {
    width: 18.7rem;
  }
}