<div class="title" *ngIf="!loading">
  <h1 mat-dialog-title>HTML Despacho Inicial</h1>
  <button [cdkCopyToClipboard]="replacedDispatch" (click)="notifyCopiedToClipboard()">
    <mat-icon id="copy" color="primary">content_copy</mat-icon>
  </button>
</div>
<div class="dispatch" mat-dialog-content *ngIf="!loading">
  <code>
    <pre>
      {{ replacedDispatch }}
    </pre>
  </code>
</div>
<div mat-dialog-actions *ngIf="!loading">
  <button color="primary" mat-flat-button mat-dialog-close>Fechar</button>
</div>
