<app-content *ngIf="!loading">
  <app-content-toolbar title="Parâmetros">
    <button type="submit" form="parameter-form" mat-flat-button color="primary">
      <span>Salvar</span>
    </button>
  </app-content-toolbar>
  <app-content-main>
    <app-content-form>
      <form class="app-form" id="parameter-form" [formGroup]="form" (ngSubmit)="onSubmit()">
        <fieldset>
          <legend>Mensagens para os tipos de orientação de estágio</legend>
          <mat-form-field class="form-field-lg">
            <mat-label>Estágio Obrigatório ou Não Obrigatório</mat-label>
            <textarea
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="7"
              appearance="fill"
              matInput
              placeholder=""
              formControlName="internshipRequiredOrNotMessage"
              name="internshipRequiredOrNotMessage"
              autocomplete="off">
            </textarea>
            <mat-error *ngIf="fieldErrors('internshipRequiredOrNotMessage')?.required">Estágio Obrigatório ou Não Obrigatório é obrigatório</mat-error>
            <mat-error *ngIf="fieldErrors('internshipRequiredOrNotMessage')?.notblank">Estágio Obrigatório ou Não Obrigatório não pode ser vazio</mat-error>
            <mat-error *ngIf="fieldErrors('internshipRequiredOrNotMessage')?.serverError && submitted">
              {{ fieldErrors('internshipRequiredOrNotMessage')?.serverError }}
            </mat-error>
          </mat-form-field>

          <br>

          <mat-form-field class="form-field-lg">
            <mat-label>Equiparação de Projeto Institucional</mat-label>
            <textarea
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="7"
              appearance="fill"
              matInput
              placeholder=""
              formControlName="projectEquivalenceMessage"
              name="projectEquivalenceMessage"
              autocomplete="off">
            </textarea>
            <mat-error *ngIf="fieldErrors('projectEquivalenceMessage')?.required">Equiparação de Projeto Institucional é obrigatório</mat-error>
            <mat-error *ngIf="fieldErrors('projectEquivalenceMessage')?.notblank">Equiparação de Projeto Institucional não pode ser vazio</mat-error>
            <mat-error *ngIf="fieldErrors('projectEquivalenceMessage')?.serverError && submitted">
              {{ fieldErrors('projectEquivalenceMessage')?.serverError }}
            </mat-error>
          </mat-form-field>

          <br>

          <mat-form-field class="form-field-lg">
            <mat-label>Aproveitamento Profissional</mat-label>
            <textarea
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="7"
              appearance="fill"
              matInput
              placeholder=""
              formControlName="professionalValidationMessage"
              name="professionalValidationMessage"
              autocomplete="off">
            </textarea>
            <mat-error *ngIf="fieldErrors('professionalValidationMessage')?.required">Aproveitamento Profissional é obrigatório</mat-error>
            <mat-error *ngIf="fieldErrors('professionalValidationMessage')?.notblank">Aproveitamento Profissional não pode ser vazio</mat-error>
            <mat-error *ngIf="fieldErrors('professionalValidationMessage')?.serverError && submitted">
              {{ fieldErrors('professionalValidationMessage')?.serverError }}
            </mat-error>
          </mat-form-field>
        </fieldset>

        <fieldset>
          <legend>Prazo em dias corridos para avalialiação do pedido de orientação de estágio</legend>
          <mat-form-field class="form-field-sm">
            <mat-label>Prazo</mat-label>
            <input type="number" min="0" appearance="fill" matInput placeholder="" formControlName="advisorRequestDeadline" name="advisorRequestDeadline" onkeypress="return event.charCode >= 48 && event.charCode <= 57" autocomplete="off">
            <mat-error *ngIf="fieldErrors('advisorRequestDeadline')?.required">Prazo é obrigatório</mat-error>
            <mat-error *ngIf="fieldErrors('advisorRequestDeadline')?.numeric">Prazo deve conter apenas números</mat-error>
            <mat-error *ngIf="fieldErrors('advisorRequestDeadline')?.serverError && submitted">
              {{ fieldErrors('advisorRequestDeadline')?.serverError }}
            </mat-error>
          </mat-form-field>
        </fieldset>
      </form>
    </app-content-form>
  </app-content-main>
</app-content>
