<app-content *ngIf="!loading">
  <app-content-toolbar title="Parâmetros">
    <button type="submit" form="parameter-form" mat-flat-button color="primary">
      <span>Salvar</span>
    </button>
  </app-content-toolbar>
  <app-content-main>
    <app-content-form>
      <form class="app-form" id="parameter-form" [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-tab-group [dynamicHeight]='true' mat-align-tabs="start">
          <mat-tab label="Mensagens">
            <fieldset>
              <legend>Mensagens para os tipos de orientação de estágio</legend>
              <mat-form-field class="form-field-lg">
                <mat-label>Estágio Obrigatório ou Não Obrigatório</mat-label>
                <textarea
                  cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="1"
                  cdkAutosizeMaxRows="7"
                  appearance="fill"
                  matInput
                  placeholder=""
                  formControlName="internshipRequiredOrNotMessage"
                  name="internshipRequiredOrNotMessage"
                  autocomplete="off">
            </textarea>
                <mat-error *ngIf="fieldErrors('internshipRequiredOrNotMessage')?.required">Estágio Obrigatório ou Não Obrigatório é obrigatório</mat-error>
                <mat-error *ngIf="fieldErrors('internshipRequiredOrNotMessage')?.notblank">Estágio Obrigatório ou Não Obrigatório não pode ser vazio</mat-error>
                <mat-error *ngIf="fieldErrors('internshipRequiredOrNotMessage')?.serverError && submitted">
                  {{ fieldErrors('internshipRequiredOrNotMessage')?.serverError }}
                </mat-error>
              </mat-form-field>

              <br>

              <mat-form-field class="form-field-lg">
                <mat-label>Equiparação de Projeto Institucional</mat-label>
                <textarea
                  cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="1"
                  cdkAutosizeMaxRows="7"
                  appearance="fill"
                  matInput
                  placeholder=""
                  formControlName="projectEquivalenceMessage"
                  name="projectEquivalenceMessage"
                  autocomplete="off">
            </textarea>
                <mat-error *ngIf="fieldErrors('projectEquivalenceMessage')?.required">Equiparação de Projeto Institucional é obrigatório</mat-error>
                <mat-error *ngIf="fieldErrors('projectEquivalenceMessage')?.notblank">Equiparação de Projeto Institucional não pode ser vazio</mat-error>
                <mat-error *ngIf="fieldErrors('projectEquivalenceMessage')?.serverError && submitted">
                  {{ fieldErrors('projectEquivalenceMessage')?.serverError }}
                </mat-error>
              </mat-form-field>

              <br>

              <mat-form-field class="form-field-lg">
                <mat-label>Aproveitamento Profissional</mat-label>
                <textarea
                  cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="1"
                  cdkAutosizeMaxRows="7"
                  appearance="fill"
                  matInput
                  placeholder=""
                  formControlName="professionalValidationMessage"
                  name="professionalValidationMessage"
                  autocomplete="off">
                </textarea>
                <mat-error *ngIf="fieldErrors('professionalValidationMessage')?.required">Aproveitamento Profissional é obrigatório</mat-error>
                <mat-error *ngIf="fieldErrors('professionalValidationMessage')?.notblank">Aproveitamento Profissional não pode ser vazio</mat-error>
                <mat-error *ngIf="fieldErrors('professionalValidationMessage')?.serverError && submitted">
                  {{ fieldErrors('professionalValidationMessage')?.serverError }}
                </mat-error>
              </mat-form-field>
            </fieldset>
          </mat-tab>

          <mat-tab label="Links">
            <fieldset>
              <legend>Links para modelos de documentação</legend>
              <mat-form-field class="form-field-lg">
                <mat-label>Link para o Plano de Atividades</mat-label>
                <input appearance="fill" matInput placeholder="" formControlName="activityPlanLink" name="activityPlanLink" autocomplete="off">
                <mat-error *ngIf="fieldErrors('activityPlanLink')?.required">Link para o Plano de Atividades é obrigatório</mat-error>
                <mat-error *ngIf="fieldErrors('activityPlanLink')?.notblank">Link para o Plano de Atividades não pode ser vazio</mat-error>
                <mat-error *ngIf="fieldErrors('activityPlanLink')?.serverError && submitted">
                  {{ fieldErrors('activityPlanLink')?.serverError }}
                </mat-error>
              </mat-form-field>
            </fieldset>
          </mat-tab>

          <mat-tab label="Prazos">
            <fieldset>
              <legend>Prazos em dias corridos para envio de pedidos</legend>
              <mat-form-field class="form-field-sm">
                <mat-label>Avalialiação do pedido de orientação de estágio</mat-label>
                <input type="number" min="0" appearance="fill" matInput placeholder="" formControlName="advisorRequestDeadline" name="advisorRequestDeadline" onkeypress="return event.charCode >= 48 && event.charCode <= 57" autocomplete="off">
                <mat-error *ngIf="fieldErrors('advisorRequestDeadline')?.required">Avaliação do pedido é obrigatório</mat-error>
                <mat-error *ngIf="fieldErrors('advisorRequestDeadline')?.numeric">Avaliação do pedido deve conter apenas números</mat-error>
                <mat-error *ngIf="fieldErrors('advisorRequestDeadline')?.serverError && submitted">
                  {{ fieldErrors('advisorRequestDeadline')?.serverError }}
                </mat-error>
              </mat-form-field>

              <mat-form-field class="form-field-sm">
                <mat-label>Avalialiação do plano de atividades por um orientador </mat-label>
                <input type="number" min="0" appearance="fill" matInput placeholder="" formControlName="activityPlanAppraisalDeadline" name="activityPlanAppraisalDeadline" onkeypress="return event.charCode >= 48 && event.charCode <= 57" autocomplete="off">
                <mat-error *ngIf="fieldErrors('activityPlanAppraisalDeadline')?.required">Avaliação do plano de atividades é obrigatório</mat-error>
                <mat-error *ngIf="fieldErrors('activityPlanAppraisalDeadline')?.numeric">Avaliação do plano de atividades deve conter apenas números</mat-error>
                <mat-error *ngIf="fieldErrors('activityPlanAppraisalDeadline')?.serverError && submitted">
                  {{ fieldErrors('activityPlanAppraisalDeadline')?.serverError }}
                </mat-error>
              </mat-form-field>

              <mat-form-field class="form-field-sm">
                <mat-label>Avaliação do rascunho do relatório mensal</mat-label>
                <input type="number" min="0" appearance="fill" matInput placeholder="" formControlName="monthlyReportDraftAppraisalDeadlineDays" name="monthlyReportDraftAppraisalDeadlineDays" onkeypress="return event.charCode >= 48 && event.charCode <= 57" autocomplete="off">
                <mat-error *ngIf="fieldErrors('monthlyReportDraftAppraisalDeadlineDays')?.required">Avaliação do rascunho do relatório mensal é obrigatório</mat-error>
                <mat-error *ngIf="fieldErrors('monthlyReportDraftAppraisalDeadlineDays')?.numeric">Avaliação do rascunho do relatório mensal deve conter apenas números</mat-error>
                <mat-error *ngIf="fieldErrors('monthlyReportDraftAppraisalDeadlineDays')?.serverError && submitted">
                  {{ fieldErrors('monthlyReportDraftAppraisalDeadlineDays')?.serverError }}
                </mat-error>
              </mat-form-field>

              <mat-form-field class="form-field-sm">
                <mat-label>Avaliação do relatório mensal</mat-label>
                <input type="number" min="0" appearance="fill" matInput placeholder="" formControlName="monthlyReportAppraisalDeadlineDays" name="monthlyReportAppraisalDeadlineDays" onkeypress="return event.charCode >= 48 && event.charCode <= 57" autocomplete="off">
                <mat-error *ngIf="fieldErrors('monthlyReportAppraisalDeadlineDays')?.required">Avaliação do relatório mensal é obrigatório</mat-error>
                <mat-error *ngIf="fieldErrors('monthlyReportAppraisalDeadlineDays')?.numeric">Avaliação do relatório mensal deve conter apenas números</mat-error>
                <mat-error *ngIf="fieldErrors('monthlyReportAppraisalDeadlineDays')?.serverError && submitted">
                  {{ fieldErrors('monthlyReportAppraisalDeadlineDays')?.serverError }}
                </mat-error>
              </mat-form-field>
            </fieldset>

            <fieldset>
              <legend>Prazos em meses para envio de pedidos</legend>
              <mat-form-field class="form-field-sm">
                <mat-label>Rascunho do relatório mensal </mat-label>
                <input type="number" min="0" appearance="fill" matInput placeholder="" formControlName="monthlyReportDraftSubmissionDeadlineMonths" name="monthlyReportDraftSubmissionDeadlineMonths" onkeypress="return event.charCode >= 48 && event.charCode <= 57" autocomplete="off">
                <mat-error *ngIf="fieldErrors('monthlyReportDraftSubmissionDeadlineMonths')?.required">Rascunho do relatório mensal é obrigatório</mat-error>
                <mat-error *ngIf="fieldErrors('monthlyReportDraftSubmissionDeadlineMonths')?.numeric">Rascunho do relatório mensal deve conter apenas números</mat-error>
                <mat-error *ngIf="fieldErrors('monthlyReportDraftSubmissionDeadlineMonths')?.serverError && submitted">
                  {{ fieldErrors('monthlyReportDraftSubmissionDeadlineMonths')?.serverError }}
                </mat-error>
              </mat-form-field>
            </fieldset>
          </mat-tab>

          <mat-tab label="Arquivos">
            <fieldset>
              <legend>Tamanho máximo em megabytes dos arquivos que podem ser enviados</legend>
              <mat-form-field class="form-field-sm">
                <mat-label>Plano de atividades</mat-label>
                <input type="number" min="0" appearance="fill" matInput placeholder="" formControlName="activityPlanFileSizeMegabytes" name="activityPlanFileSizeMegabytes" onkeypress="return event.charCode >= 48 && event.charCode <= 57" autocomplete="off">
                <mat-error *ngIf="fieldErrors('activityPlanFileSizeMegabytes')?.required">Plano de atividades é obrigatório</mat-error>
                <mat-error *ngIf="fieldErrors('activityPlanFileSizeMegabytes')?.numeric">Plano de atividades deve conter apenas números</mat-error>
                <mat-error *ngIf="fieldErrors('activityPlanFileSizeMegabytes')?.serverError && submitted">
                  {{ fieldErrors('activityPlanFileSizeMegabytes')?.serverError }}
                </mat-error>
              </mat-form-field>

              <mat-form-field class="form-field-sm">
                <mat-label>Relatório mensal</mat-label>
                <input type="number" min="0" appearance="fill" matInput placeholder="" formControlName="monthlyReportFileSizeMegabytes" name="monthlyReportFileSizeMegabytes" onkeypress="return event.charCode >= 48 && event.charCode <= 57" autocomplete="off">
                <mat-error *ngIf="fieldErrors('monthlyReportFileSizeMegabytes')?.required">Relatório mensal  é obrigatório</mat-error>
                <mat-error *ngIf="fieldErrors('monthlyReportFileSizeMegabytes')?.numeric">Relatório mensal  deve conter apenas números</mat-error>
                <mat-error *ngIf="fieldErrors('monthlyReportFileSizeMegabytes')?.serverError && submitted">
                  {{ fieldErrors('monthlyReportFileSizeMegabytes')?.serverError }}
                </mat-error>
              </mat-form-field>
            </fieldset>
          </mat-tab>
          <mat-tab label="Despacho">
            <fieldset>
              <legend>HTML de despacho inicial e despacho final</legend>
              <mat-form-field class="form-field-lg">
                <mat-label>Despacho Inicial</mat-label>
                <textarea
                  cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="1"
                  cdkAutosizeMaxRows="15"
                  appearance="fill"
                  matInput
                  placeholder=""
                  formControlName="initialDispatchHtml"
                  name="initialDispatchHtml"
                  autocomplete="off">
                </textarea>
                <mat-error *ngIf="fieldErrors('initialDispatchHtml')?.required">Despacho Inicial é obrigatório</mat-error>
                <mat-error *ngIf="fieldErrors('initialDispatchHtml')?.notblank">Despacho Inicial não pode ser vazio</mat-error>
                <mat-error *ngIf="fieldErrors('initialDispatchHtml')?.serverError && submitted">
                  {{ fieldErrors('initialDispatchHtml')?.serverError }}
                </mat-error>
              </mat-form-field>
              <mat-form-field class="form-field-lg">
                <mat-label>Despacho Final</mat-label>
                <textarea
                  cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="1"
                  cdkAutosizeMaxRows="15"
                  appearance="fill"
                  matInput
                  placeholder=""
                  formControlName="finalDispatchHtml"
                  name="finalDispatchHtml"
                  autocomplete="off">
                </textarea>
                <mat-error *ngIf="fieldErrors('finalDispatchHtml')?.required">Despacho Final é obrigatório</mat-error>
                <mat-error *ngIf="fieldErrors('finalDispatchHtml')?.notblank">Despacho Final não pode ser vazio</mat-error>
                <mat-error *ngIf="fieldErrors('finalDispatchHtml')?.serverError && submitted">
                  {{ fieldErrors('finalDispatchHtml')?.serverError }}
                </mat-error>
              </mat-form-field>
            </fieldset>
          </mat-tab>
        </mat-tab-group>
      </form>
    </app-content-form>
  </app-content-main>
</app-content>
