.app-form {
  padding: 0;
}

fieldset {
  margin-top: 1rem;
}

.options,
.optionsTwo {
  margin-top: 1rem;
  border: 1px solid #673ab7;
  border-radius: 10px;
  padding: 16px;
  width: 50%;
}

legend {
  display: flex;
  gap: 2rem;
}

.title {
  display: flex;
  justify-content: space-between;
}

button {
  border: none;
  background: #ffffff;
}

.options p {
  font-size: 14px;
}

.colum,
.columTwo {
  display: flex;
}

ul {
  margin-right: 2rem;
}

.form-field-lg {
  width: 50rem;
}

.form-field-sm {
  width: 16rem;
}
