<div class="verification">
  <div class="infos">
    <div class="email">
      <div class="icon" mat-icon-button>
        <mat-icon>check_circle</mat-icon>
      </div>
      <span>E-mail Institucional verificado com sucesso!</span>
    </div>
    <p>Você verificou seu e-mail com sucesso! Agora poderá acessar livremente o nosso site de Estágio.</p>

    <div class="button-login">
      <a mat-flat-button class="login" color="primary" routerLink="/authentication/login">Ir para o login</a>
    </div>
  </div>
</div>

