<div>
  <ng-content select="[header]"></ng-content>
<!--  <app-feat-header mat-icon-button [backUrl]="backUrl" [title]="title">-->
<!--    <div header-actions>-->
<!--      <ng-content select="[header-actions]"></ng-content>-->
<!--    </div>-->
<!--  </app-feat-header>-->

  <ng-content select="[content]"></ng-content>

<!--  <app-feat-content [emptyState]="emptyState">-->
<!--    <div main-content>-->
<!--      <ng-content select="[main-content]"></ng-content>-->
<!--    </div>-->
<!--  </app-feat-content>-->
</div>
