<app-content *ngIf="!loading">
  <app-content-toolbar backUrl="/admin/course">
    <button mat-button color="primary" routerLink="/admin/course/{{course.id}}/edit">
      Editar
    </button>
    <div matTooltip="Não é possível excluir um curso que possui matrizes"
      [matTooltipDisabled]="curriculums.length == 0">
      <button mat-button color="warn" (click)="handlerDeleteCourse()" [disabled]="curriculums.length != 0">
        Excluir
      </button>
    </div>
  </app-content-toolbar>
  <app-content-main>
    <app-content-detail *ngIf="!loading" title="{{course.name}} - {{course.abbreviation}}"
      [listItens]="courseDetails()">
      <app-content-detail-section title="Matrizes" icon="domain" (openDialogEvent)="handlerCreateCurriculum()" (openFilterEvent)="handlerFilterSelected($event)">
        <app-content-cards entityName="matriz" [emptyState]="curriculums.length == 0">
          <app-card *ngFor="let curriculum of curriculums" (click)="handlerUpdateCurriculum(curriculum)"
            [title]="curriculum.code" [subtitle]="curriculum.courseLoad.toString()">
            <div card-actions>
              <button mat-icon-button (click)="handlerDeleteCurriculum($event, curriculum)">
                <mat-icon>delete_outline</mat-icon>
              </button>
            </div>
            <div card-actions>
              <mat-slide-toggle 
                color="primary" 
                [checked]="handleEnabled(curriculum)"
                (click)="toggleCurriculum($event, curriculum)">
              </mat-slide-toggle>
            </div>
          </app-card>
        </app-content-cards>
      </app-content-detail-section>
    </app-content-detail>
  </app-content-main>
</app-content>