.mat-dialog-content {
  width: 35vw;
  height: 50%;
}
  
.mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
}

.spinner-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

mat-spinner {
  position: absolute;
  z-index: 5;
}

@media (max-width: 700px) {
  .mat-dialog-content {
    width: 65vw;
    height: 20vh;
  }
}