mat-card {
  max-width: 600px;
  margin: 2em auto;
  text-align: center;
  max-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-card.mat-card.mat-focus-indicator {
  margin-top: 9%;
}

.header {
  text-align: center;
  font-size: clamp(1em, 4.5vw, 1.875em);
  color: #494949;
}

.header p {
  margin-top: 10px;
}

.full-width {
  width: 80%;
}

.button-row {
  margin-right: 14px;
}

.button-row a {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
}

.mat-flat-button.mat-primary {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.button-login {
  padding-top: 50px;
}

.emailInput {
  padding-top: 10px;
}

.aLink {
  float: right;
  padding-right: 60px;
  text-decoration: none;
  color: #673ab7;
}

.registration {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #673ab7;
}
