mat-toolbar {
  top: 0;
  z-index: 1000;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  padding: 0 10px;
  background-color: #ffffff;
  color: rgba(0,0,0,.7);
  border-bottom: 1px solid rgba(0,0,0,.10);

  .mat-icon-button {
    width: 24px;
    height: 24px;
    line-height: 24px;
    margin-right: 5px;
  }
  .mat-subheader {
    padding: 0;
    font-size: 1.2rem;
    line-height: 1.2rem;
    font-weight: normal;
  }
}

.example-spacer {
  flex: 1 1 auto;
}

@media only screen and (max-width: 700px) {
  mat-toolbar {
    .mat-subheader {
      font-size: 1rem;
    }
  }
}
