p {
  font-size: 1.25rem;
}

.text h4 {
  font-size: 1.125rem;
}

.text p {
  font-size: 0.875rem;
  text-align: justify;
}

.button-close {
  display: flex;
  justify-content: right;
}

input:focus,
select:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}
