mat-toolbar {
  padding: 35px 30px 35px 10px;
  background-color: #ffffff;
  color: rgba(0,0,0,.7);
  border-bottom: 1px solid rgba(0,0,0,.10);

  .mat-subheader {
    font-size: 1.2rem;
    font-weight: normal;
    padding: 0;
  }

  button {
    font-size: 13px;
  }
}

.example-spacer {
  flex: 1 1 auto;
}

.mat-card-container {
  padding: 30px;
}

mat-card {
  margin-bottom: 20px;
}

mat-card-header {
  cursor: pointer;
}
