<app-content *ngIf="!loading">
  <app-content-toolbar backUrl="/admin/campus">
    <button mat-button color="primary" routerLink="/admin/campus/{{ campus.id }}/edit">
      Editar
    </button>
    <div matTooltip="Não é possível excluir um campus que possui departamentos" [matTooltipDisabled]="departments.length == 0">
      <button mat-button color="warn" (click)="handlerDeleteCampus()" [disabled]="departments.length != 0">
        Excluir
      </button>
    </div>
  </app-content-toolbar>
  <app-content-main>
    <app-content-detail *ngIf="!loading" [title]="campus.name" [subtitle]="campus.abbreviation"[listItens]="campusDetails()">
      <app-content-detail-section title="Departamentos" icon="domain" (openDialogEvent)="handlerCreateDepartment()" (openFilterEvent)="handlerFilterSelected($event)">
        <app-content-cards entityName="departamento" [emptyState]="departments.length == 0">
          <app-card *ngFor="let department of departments"
            (click)="handlerUpdateDepartment(department)"
            [title]="department.name"
            [subtitle]="department.abbreviation">
            <div card-actions>
              <button mat-icon-button (click)="handlerDeleteDepartment($event, department)">
                <mat-icon>delete_outline</mat-icon>
              </button>
            </div>
            <div card-actions>
              <mat-slide-toggle 
                color="primary" 
                [checked]="handleEnabled(department)"
                (click)="toggleDepartment($event, department)"></mat-slide-toggle>
            </div>
          </app-card>
        </app-content-cards>
      </app-content-detail-section>
    </app-content-detail>
  </app-content-main>
</app-content>
