<app-content *ngIf="campuses$ | async as campuses">
  <app-content-toolbar title="Campus">
    <button mat-button color="primary" routerLink="/admin/campus/create">
      Novo Campus
    </button>
  </app-content-toolbar>
  <app-content-main>
    <app-content-cards [emptyState]="campuses.length == 0">
      <app-card *ngFor="let campus of campuses" [title]="campus.name" [subtitle]="campus.address.street"
        [link]="'/admin/campus/' + campus.id">
        <div card-actions>
          <mat-slide-toggle color="primary" checked (click)="toggleCampus($event)"></mat-slide-toggle>
        </div>
      </app-card>
    </app-content-cards>
  </app-content-main>
</app-content>