<ng-template #indicator>
  <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
</ng-template>
<div *ngIf="campuses$ | async as campuses; else indicator">
  <app-feature-header title="Campus">
    <button mat-icon-button>
      <mat-icon>filter_list</mat-icon>
    </button>
    <button mat-button color="primary" routerLink="/admin/campus/create">
      Novo Campus
    </button>
  </app-feature-header>

  <div class="mat-card-container">
    <mat-card *ngFor="let campus of campuses" class="mat-elevation-z1">
      <mat-card-header routerLink="/admin/campus/{{campus.id}}">
        <mat-card-title>Campus {{ campus.name }} <small>{{ campus.abbreviation }}</small></mat-card-title>
        <mat-card-subtitle>{{ campus.address.street }}, número {{ campus.address.number }}, {{ campus.address.neighborhood }} </mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions>
        <!--      <button mat-button color="primary" routerLink="/admin/campus/{{campus.id}}/edit">Editar</button>-->
        <mat-slide-toggle color="primary" checked>Ativo</mat-slide-toggle>

      </mat-card-actions>
    </mat-card>
  </div>

</div>
