<app-content *ngIf="!loading">
  <app-content-toolbar 
    [title]="createMode ? 'Novo Orientador' : 'Editar Orientador'"
    [backUrl]="getBackUrl()">
    <button type="submit" form="advisor-form" mat-flat-button color="primary" [disabled]="coursesIds.length == 0">
      <span>Salvar</span>
    </button>
  </app-content-toolbar>
  <app-content-main>
    <app-content-form>
      <form id="advisor-form" class="app-form" [formGroup]="form" (ngSubmit)="onSubmit()">

        <mat-checkbox *ngIf="createMode" formControlName="admin" class="admin" color="primary" (change)="handleIsAdmin()">Administrador</mat-checkbox>
        <fieldset>
          <legend>Informações básicas</legend>
          <mat-form-field class="form-field-md">
            <mat-label>Nome</mat-label>
            <input appearance="fill" matInput placeholder="" formControlName="name" name="name" autocomplete="off">
            <mat-error *ngIf="fieldErrors('name')?.required && submitted">Nome é obrigatório</mat-error>
            <mat-error *ngIf="fieldErrors('name')?.notblank && submitted">Nome não pode ser nulo</mat-error>
            <mat-error *ngIf="fieldErrors('name')?.serverError && submitted">
              {{ fieldErrors('name')?.serverError }}
            </mat-error>
          </mat-form-field>

          <mat-form-field class="form-field-sm">
            <mat-label>Matrícula</mat-label>
            <input appearance="fill" matInput placeholder="" formControlName="registration" name="registration" autocomplete="off">
            <mat-error *ngIf="fieldErrors('registration')?.required && submitted">Matrícula é obrigatória</mat-error>
            <mat-error *ngIf="fieldErrors('registration')?.notblank && submitted">Matrícula não pode ser nula</mat-error>
            <mat-error *ngIf="fieldErrors('registration')?.serverError && submitted">
              {{ fieldErrors('registration')?.serverError }}
            </mat-error>
          </mat-form-field>          
        </fieldset>

        <fieldset>
          <mat-form-field class="form-field-xl">
            <mat-label>E-mail</mat-label>
            <input appearance="fill" matInput placeholder="" formControlName="email" name="email" autocomplete="off">
            <mat-error *ngIf="fieldErrors('email')?.required && submitted">E-mail é obrigatório</mat-error>
          <mat-error *ngIf="fieldErrors('email')?.email && submitted">E-mail deve ser válido</mat-error>
          <mat-error *ngIf="fieldErrors('email')?.notblank && submitted">E-mail não pode ser vazio</mat-error>
          <mat-error *ngIf="fieldErrors('email')?.institutionEmail && submitted">E-mail deve ser institucional</mat-error>
            <mat-error *ngIf="fieldErrors('email')?.serverError && submitted">
              {{ fieldErrors('email')?.serverError }}
            </mat-error>
          </mat-form-field>
        </fieldset>
        
        <fieldset>
          <legend>Selecionar cursos</legend>
          <mat-form-field class="form-field-md campus-department">
            <mat-label>Campus</mat-label>
            <mat-select (selectionChange)="onCampusSelected($event.value)">
              <mat-option *ngFor="let campus of campuses" [value]="campus.name">
                {{ campus.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="form-field-sm campus-department">
            <mat-label>Departamento</mat-label>
            <mat-select (selectionChange)="onDepartmentSelected($event.value)">
              <mat-option *ngFor="let department of departments" [value]="department.name">
                {{ department.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </fieldset>

        <fieldset>
          <mat-form-field class="form-field-xl course">
            <mat-label>Curso</mat-label>
            <mat-select formControlName="course" name="course" (selectionChange)="onCourseSelected($event.value)">
              <mat-option *ngFor="let course of courses" [value]="course.name">
                {{ course.name }}
              </mat-option>
            </mat-select> 
            <mat-error *ngIf="fieldErrors('course')?.serverError && submitted">
              {{ form.get('course')?.errors?.serverError }}
            </mat-error>
          </mat-form-field>
          <button class="add" mat-button color="primary" type="button" (click)="addCourse()"><mat-icon>add</mat-icon></button>
        </fieldset>
      </form>

      <app-content-cards class="course-container" entityName="curso" [emptyState]="coursesList.length == 0">
        <mat-card *ngFor="let course of coursesList" class="course-card">
          <mat-card-header>
            <mat-card-title>{{ course.name }}</mat-card-title>
            <mat-card-subtitle>{{ course.department.campus.abbreviation }} - {{ course.department.abbreviation }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-actions>
            <div class="card-actions">
              <button mat-icon-button (click)="removeCourse(course)">
                <mat-icon>delete_outline</mat-icon>
              </button>
            </div>
            <div class="card-actions" *ngIf="createMode == false">
              <mat-slide-toggle color="primary"></mat-slide-toggle>
            </div>
          </mat-card-actions>
        </mat-card>
      </app-content-cards>
    </app-content-form>
  </app-content-main>
</app-content>