<app-content>
  <app-content-toolbar [title]="'Novo Orientador'">
    <button type="submit" form="advisor-form" mat-flat-button color="primary" [disabled]="coursesIds.length == 0">
      <span>Salvar</span>
    </button>
  </app-content-toolbar>
  <app-content-main>
    <app-content-form>
      <form id="advisor-form" class="app-form" [formGroup]="form" (ngSubmit)="onSubmit()">

        <fieldset>
          <mat-form-field class="form-field-md">
            <mat-label>Nome</mat-label>
            <input appearance="fill" matInput placeholder="" formControlName="name" name="name" autocomplete="off">
            <mat-error *ngIf="fieldErrors('name')?.required && submitted">Nome é obrigatório</mat-error>
            <mat-error *ngIf="fieldErrors('name')?.notblank && submitted">Nome não pode ser nulo</mat-error>
            <mat-error *ngIf="fieldErrors('name')?.serverError && submitted">
              {{ fieldErrors('name')?.serverError }}
            </mat-error>
          </mat-form-field>

          <mat-form-field class="form-field-sm">
            <mat-label>Matrícula</mat-label>
            <input appearance="fill" matInput placeholder="" formControlName="registration" name="registration" autocomplete="off">
            <mat-error *ngIf="fieldErrors('registration')?.required && submitted">Matrícula é obrigatória</mat-error>
            <mat-error *ngIf="fieldErrors('registration')?.notblank && submitted">Matrícula não pode ser nula</mat-error>
            <mat-error *ngIf="fieldErrors('registration')?.serverError && submitted">
              {{ fieldErrors('name')?.serverError }}
            </mat-error>
          </mat-form-field>

        </fieldset>

        <fieldset>
          <mat-form-field class="form-field-sm">
            <mat-label>E-mail</mat-label>
            <input appearance="fill" matInput placeholder="" formControlName="email" name="email" autocomplete="off">
            <mat-error *ngIf="fieldErrors('email')?.required && submitted">E-mail é obrigatório</mat-error>
            <mat-error *ngIf="fieldErrors('email')?.notblank && submitted">E-mail não pode ser nulo</mat-error>
            <mat-error *ngIf="fieldErrors('email')?.email && submitted">E-mail inválido</mat-error>
            <mat-error *ngIf="fieldErrors('email')?.serverError && submitted">
              {{ fieldErrors('name')?.serverError }}
            </mat-error>
          </mat-form-field>

          <mat-form-field class="form-field-md">
            <mat-label>Senha</mat-label>
            <input type="password" appearance="fill" matInput placeholder="" formControlName="password" name="password" autocomplete="off">
            <mat-error *ngIf="fieldErrors('password')?.required && submitted">Senha é obrigatória</mat-error>
            <mat-error *ngIf="fieldErrors('password')?.notblank && submitted">Senha não pode ser nulo</mat-error>
            <mat-error *ngIf="fieldErrors('password')?.minlength && submitted">Senha deve conter no mínimo 6 caracteres</mat-error>
            <mat-error *ngIf="fieldErrors('password')?.maxlength && submitted">Senha deve conter no máximo 22 caracteres</mat-error>
            <mat-error *ngIf="fieldErrors('email')?.serverError && submitted">
              {{ fieldErrors('name')?.serverError }}
            </mat-error>
          </mat-form-field>
        </fieldset>

        <fieldset>
          <mat-form-field class="form-field-sm">
            <mat-label>Campus</mat-label>
            <mat-select (selectionChange)="onCampusSelected($event.value)">
              <mat-option *ngFor="let campus of campuses" [value]="campus.name">
                {{ campus.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class=" form-field-sm">
            <mat-label>Departamento</mat-label>
            <mat-select (selectionChange)="onDepartmentSelected($event.value)">
              <mat-option *ngFor="let department of departments" [value]="department.name">
                {{ department.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class=" form-field-sm">
            <mat-label>Curso</mat-label>
            <mat-select formControlName="course" name="course" (selectionChange)="onCourseSelected($event.value)">
              <mat-option *ngFor="let course of courses" [value]="course.name">
                {{ course.name }}
              </mat-option>
            </mat-select> 
            <mat-error *ngIf="fieldErrors('course')?.serverError && submitted">
              {{ form.get('course')?.errors?.serverError }}
            </mat-error>
          </mat-form-field>
          <button mat-button color="primary" type="button" (click)="addCourse()"><mat-icon>add</mat-icon></button>
        </fieldset>
        <mat-checkbox color="primary" (change)="handleIsAdmin()">Administrador</mat-checkbox>
      </form>
      <span *ngIf="coursesList.length != 0">
        <p>Cursos selecionados:</p>
        <p *ngFor="let course of coursesList">
          {{ course.name }}
          <button mat-button color="primary" type="button" (click)="removeCourse(course)"><mat-icon>clear</mat-icon></button>
        </p>
      </span>
    </app-content-form>
  </app-content-main>
</app-content>