<app-content *ngIf="!loading">
  <app-content-toolbar
    [title]="createMode ? 'Novo Campus' : 'Editar Campus'"
    [backUrl]="getBackUrl()">
    <button type="submit" form="campus-form" mat-flat-button color="primary">
      <span>Salvar</span>
    </button>
  </app-content-toolbar>
  <app-content-main>
    <app-content-form>
      <form id="campus-form" class="app-form" [formGroup]="form" (ngSubmit)="onSubmit()">
        <fieldset>
          <mat-form-field class="form-field-md">
            <mat-label>Nome</mat-label>
            <input appearance="fill" matInput placeholder="" formControlName="name" name="name">
            <mat-error *ngIf="fieldErrors('name')?.required && submitted">Nome é obrigatório</mat-error>
            <mat-error *ngIf="fieldErrors('name')?.notblank && submitted">Nome não pode ser vazio</mat-error>
            <mat-error *ngIf="fieldErrors('name')?.alpha && submitted">Nome deve conter apenas letras</mat-error>
            <mat-error *ngIf="fieldErrors('name')?.serverError && submitted">
              {{ fieldErrors('name')?.serverError }}
            </mat-error>
          </mat-form-field>

          <mat-form-field class="form-field-sm">
            <mat-label>Sigla</mat-label>
            <input matInput placeholder="" formControlName="abbreviation" name="abbreviation">
            <mat-error *ngIf="fieldErrors('abbreviation')?.required && submitted">Sigla é obrigatória</mat-error>
            <mat-error *ngIf="fieldErrors('abbreviation')?.notblank && submitted">Sigla não pode ser vazia</mat-error>
            <mat-error *ngIf="fieldErrors('abbreviation')?.exactlength && submitted">Sigla deve ter 3 caracteres</mat-error>
            <mat-error *ngIf="fieldErrors('abbreviation')?.serverError && submitted">
              {{ fieldErrors('abbreviation')?.serverError }}
            </mat-error>
          </mat-form-field>
        </fieldset>

        <fieldset formGroupName="address">
          <legend>Endereço</legend>

          <mat-form-field class="form-field-sm">
            <mat-label>CEP</mat-label>
            <input appearance="fill" matInput placeholder="" formControlName="postalCode" name="postalCode">
            <mat-error *ngIf="fieldErrors('address.postalCode')?.required && submitted">CEP é obrigatório</mat-error>
            <mat-error *ngIf="fieldErrors('address.postalCode')?.postalCode && submitted">CEP inválido</mat-error>
            <mat-error *ngIf="fieldErrors('address.postalCode')?.serverError && submitted">
              {{ fieldErrors('address.postalCode')?.serverError }}
            </mat-error>
          </mat-form-field>

          <mat-form-field class="form-field-md">
            <mat-label>Rua</mat-label>
            <input matInput placeholder="" formControlName="street" name="street">
            <mat-error *ngIf="fieldErrors('address.street')?.required && submitted">Rua é obrigatório</mat-error>
            <mat-error *ngIf="fieldErrors('address.street')?.notblank && submitted">Rua não pode ser vazio</mat-error>
            <mat-error *ngIf="fieldErrors('address.street')?.serverError && submitted">
              {{ form.get('address.street')?.errors?.serverError }}
            </mat-error>
          </mat-form-field>

          <br>

          <mat-form-field class="form-field-sm">
            <mat-label>Bairro</mat-label>
            <input matInput placeholder="" formControlName="neighborhood" name="neighborhood">
            <mat-error *ngIf="fieldErrors('address.neighborhood')?.required && submitted">Bairro é obrigatório</mat-error>
            <mat-error *ngIf="fieldErrors('address.neighborhood')?.notblank && submitted">Bairro não pode ser vazio</mat-error>
            <mat-error *ngIf="fieldErrors('address.neighborhood')?.serverError && submitted">
              {{ form.get('address.neighborhood')?.errors?.serverError }}
            </mat-error>
          </mat-form-field>

          <mat-form-field class="form-field-sm">
            <mat-label>Cidade</mat-label>
            <input matInput placeholder="" formControlName="city" name="city">
            <mat-error *ngIf="fieldErrors('address.city')?.required && submitted">Cidade é obrigatório</mat-error>
            <mat-error *ngIf="fieldErrors('address.city')?.serverError && submitted">
              {{ form.get('address.city')?.errors?.serverError }}
            </mat-error>
          </mat-form-field>

          <!--<mat-form-field class="form-field-sm">
            <mat-label>Estado</mat-label>
            <input matInput placeholder="" formControlName="state" name="state">
            <mat-error *ngIf="fieldErrors('address.state')?.required && submitted">Estado é obrigatório</mat-error>
            <mat-error *ngIf="fieldErrors('address.state')?.serverError && submitted">
              {{ form.get('address.state')?.errors?.serverError }}
            </mat-error>
          </mat-form-field>
          
          <app-autocomplete-input name="Estado" [options]="statesName$"></app-autocomplete-input>
          -->
          <mat-form-field class="form-field-sm">
            <mat-label>Estado</mat-label>
            <input type="text"
                   placeholder="Selecione..."
                   matInput
                   name="state"
                   [formControl]="myControl"
                   [matAutocomplete]="auto">
            <mat-error *ngIf="fieldErrors('address.state')?.required && submitted">Selecione uma opção válida</mat-error>
            <mat-error *ngIf="fieldErrors('address.state')?.serverError && submitted">
              {{ form.get('address.state')?.errors?.serverError }}
            </mat-error>
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
              <mat-option *ngFor="let stateName of filteredOptions | async" [value]="stateName">
                {{stateName}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

          <br>

          <mat-form-field class="form-field-sm">
            <mat-label>Número</mat-label>
            <input matInput placeholder="" formControlName="number" name="number">
            <mat-error *ngIf="fieldErrors('address.number')?.required && submitted">Número é obrigatório</mat-error>
            <mat-error *ngIf="fieldErrors('address.number')?.numeric && submitted">Deve conter apenas números</mat-error>
            <mat-error *ngIf="fieldErrors('address.number')?.serverError && submitted">
              {{ form.get('address.number')?.errors?.serverError }}
            </mat-error>
          </mat-form-field>

          <mat-form-field class="form-field-sm">
            <mat-label>Complemento</mat-label>
            <input matInput placeholder="" formControlName="complement" name="complement">
            <mat-error *ngIf="fieldErrors('address.complement')?.serverError && submitted">
              {{ form.get('address.complement')?.errors?.serverError }}
            </mat-error>
          </mat-form-field>
        </fieldset>

        <br>

        <fieldset formGroupName="internshipSector">
          <legend>Informações setor de estágio</legend>
          <mat-form-field class="form-field-sm">
            <mat-label>Telefone</mat-label>
            <input matInput placeholder="" formControlName="telephone" name="telephone">
            <mat-error *ngIf="fieldErrors('internshipSector.telephone')?.required && submitted">Telefone é obrigatório</mat-error>
            <mat-error *ngIf="fieldErrors('internshipSector.telephone')?.numeric && submitted">Telefone deve conter apenas números</mat-error>
            <mat-error *ngIf="fieldErrors('internshipSector.telephone')?.serverError && submitted">
              {{ fieldErrors('internshipSector.telephone')?.serverError }}
            </mat-error>
          </mat-form-field>

          <mat-form-field class="form-field-sm">
            <mat-label>E-mail</mat-label>
            <input matInput placeholder="" formControlName="email" name="email">
            <mat-error *ngIf="fieldErrors('internshipSector.email')?.required && submitted">E-mail é obrigatório</mat-error>
            <mat-error *ngIf="fieldErrors('internshipSector.email')?.email && submitted">E-mail inválido</mat-error>
            <mat-error *ngIf="fieldErrors('internshipSector.email')?.serverError && submitted">
              {{ fieldErrors('internshipSector.email')?.serverError }}
            </mat-error>
          </mat-form-field>

          <mat-form-field class="form-field-sm">
            <mat-label>Website</mat-label>
            <input matInput placeholder="" formControlName="website" name="website">
            <mat-error *ngIf="fieldErrors('internshipSector.website')?.required && submitted">Website é obrigatório</mat-error>
            <mat-error *ngIf="fieldErrors('internshipSector.website')?.url && submitted">Website inválido</mat-error>
            <mat-error *ngIf="fieldErrors('internshipSector.website')?.serverError && submitted">
              Website {{ fieldErrors('internshipSector.website')?.serverError }}
            </mat-error>
          </mat-form-field>
        </fieldset>
      </form>

    </app-content-form>
  </app-content-main>
</app-content>
