

.form-field-lg {
  width: 100%;
}

.mat-dialog-content {
  width: 35vw;
  height: 50%;
}

.mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
}

.radio-group {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.radio-button {
  margin-bottom: 1rem;
}

fieldset {
  margin-bottom: 5px;
}

@media (max-width: 700px) {
  .mat-dialog-content {
    width: 65vw;
    height: 20vh;
  }
}