<h1 id="header" mat-dialog-title></h1>
<div mat-dialog-content>
  <form class="app-form" id="realization-term-appraisal-form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field class="form-field-lg">
      <mat-label>{{data.deferred ? 'Detalhes' : 'Motivo do indeferimento'}}</mat-label>
      <textarea
        cdkTextareaAutosize
        #autosize="cdkTextareaAutosize"
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="10"
        appearance="fill"
        matInput
        placeholder=""
        formControlName="details"
        name="details">
      </textarea>
      <mat-error *ngIf="fieldErrors('details')?.required">{{data.deferred ? 'Detalhes' : 'Motivo do indeferimento'}} é obrigatório</mat-error>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancelar</button>
  <button type="submit" form="realization-term-appraisal-form" mat-button color="primary">Confirmar</button>
</div>
