.app-content-detail-section {
  margin-top: 15px;

  header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #bbb;
    margin-bottom: 10px;

    .headline {
      font-weight: normal;
      display: flex;
      align-items: center;
      padding: 0;
      margin: 0;

      mat-icon {
        padding-right: 10px;
      }
    }
  }

  .app-content-detail-section-content {
    padding: 10px;
  }
}
